adbutils==0.13.1
allure-pytest==2.9.45
allure-python-commons==2.9.45
apkutils2==1.0.0
Appium-Python-Client==2.1.4
Appium-Python-Client-Monkey==1.0.0
Appium-UIAutomation==0.1.0
async-generator==1.10
attrs==21.4.0
cached-property==1.5.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cigam==0.0.3
cryptography==36.0.1
decorator==5.1.1
Deprecated==1.2.13
deprecation==2.1.0
et-xmlfile==1.1.0
Faker==13.3.2
filelock==3.6.0
genson==1.2.2
h11==0.13.0
idna==3.3
importlib-resources==5.4.0
iniconfig==1.1.1
jsonpath==0.82
jsonschema==4.4.0
logzero==1.7.0
lxml==4.8.0
mypy==0.941
mypy-extensions==0.4.3
numpy==1.22.3
opencv-python==4.5.5.64
openpyxl==3.0.9
outcome==1.1.0
packaging==20.9
Pillow==9.0.1
pluggy==1.0.0
progress==1.6
py==1.11.0
pycparser==2.21
pyelftools==0.28
PyMySQL==1.0.2
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyrsistent==0.18.1
pytest==7.0.1
python-dateutil==2.8.2
PyYAML==6.0
requests==2.27.1
retry==0.9.2
schemabuilder==0.3.0
selenium==4.0.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
tomli==2.0.1
trio==0.20.0
trio-websocket==0.9.2
typing-extensions==4.1.1
uiautomator2==2.16.14
urllib3==1.26.8
whichcraft==0.6.1
wrapt==1.13.3
wsproto==1.1.0
xmltodict==0.12.0
zipp==3.7.0
